* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    padding: 2rem;
    min-width: 36rem;
    min-height: 60rem;
    display: flex;
    justify-content: center;
    align-items: start;
    background: linear-gradient(45deg, #A600D0, #45B5DE);
}

.contactbar {
    width: 100%;
    max-width: 36rem;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
}

.contactbar-picture {
    width: 25rem;
    height: 25rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12.5rem;
    background-image: url('/images/bweb.jpg');
    background-size: cover;
    background-position: center;
}

.contactbar-navbar {
    width: 100%;
    flex-grow: 1;
    display: flex;
    font-size: 2rem;
    text-align: center;
}