* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

.container {
    width: 100%;
    min-width: 34rem;
    height: 100vh;
    min-height: 62rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: start;
    background: linear-gradient(45deg, #012840, #6593A6);
}

.contactbar {
    width: 100%;
    max-width: 36rem;
    height: 100%;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.contactbar-picture {
    width: 16rem;
    height: 16rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9rem;
    background-image: url('/images/profile-pic.png');
    border: solid 0.5rem rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
}

.contactbar-header {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactbar-header__name {
    font-size: 1.6rem;
    color: white;
}

.contactbar-header__position {
    font-size: 1.4rem;
    color: white;
}

.contactbar-divider {
    width: 90%;
    margin-top: 1rem;
    align-self: center;
    border-bottom: 0.2rem solid rgba(0, 0, 0, 0.25);
}

.contactbar-navbar {
    width: 100%;
    padding: 1rem 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

.contactbar-navbar__button {
    width: 100%;
    margin-bottom: 2rem;
}

.contactbar-navbar__button button {
    width: 100%;
    padding: 1.2rem 0;
    font-size: 1.6rem;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    background: none;
}

.contactbar-navbar__button button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.01);
}

.contactbar-navbar__button button:active {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(0.99);
}

.contactbar-footer {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactbar-footer__networks {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.contactbar-footer__networks img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
}