* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

.page-header {
    width: 100%;
    height: 7rem;
    min-width: 78rem;
    display: flex;
    align-items: center;
    background-color: #4B4453;
}

.title {
    font-size: 3rem;
    width: 15%;
    height: 100%;
    min-width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 85%;
    height: 100%;
    min-width: 53rem;
    list-style: none;
    font-size: 2.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
}

.navbar-list {
    width: 50%;
    min-width: 50rem;
}

.navbar-list__list {
    display: flex;
    justify-content: space-between;
}

.navbar-list__list li {
    display: inline-block;
}

.navbar-list__list li a {
    text-decoration: none;
    color: #fff;
}

.content {
    font-size: 3rem;
}